<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>FirstWebApplication</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>company</param-name>
		<param-value>Microsoft</param-value>
	</context-param>
	<servlet>
		<init-param>
			<param-name>user</param-name>
			<param-value>Ram</param-value>
		</init-param>
		<servlet-name>First</servlet-name>
		<servlet-class>demo.Servlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>First</servlet-name>
		<url-pattern>/Servlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Second</servlet-name>
		<servlet-class>demo.Servlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Second</servlet-name>
		<url-pattern>/Servlet2</url-pattern>
	</servlet-mapping>
</web-app>










